
.bodyCardCommunity{
  position: relative;
}

.cardCommunity{
  position: relative;
  background-color: #2b2c2f;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 320px;
  width: 120%;
  overflow: hidden;
  border-radius: 8px;
}


.cardHeaderCommunity{
  display: block;
  position: relative;
  height: 143px;
  overflow: visible;
  margin-bottom: 32px;
}

.bodyCardCommunity, .cardImageBox{
  opacity: 1;
}

.cardImageBox{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.cardImageBox, .boxImageCard{
  width: 100%;
  height: 100%;
}


.boxInfoCommunity{
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding: 0 16px 16px;
  overflow: hidden;
}

.titleCardCommunity{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
}

.titleCommunity{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.biografyCardCommunity{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  margin: 4px 0 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.sizeBiografyCommunity{
  font-size: 14px;
  line-height: 18px;
  color: rgb(245, 245, 245);
}

.membersOfCommunity{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}


.circleMembersCommunity{
  background-color: #b9bbbe;
}

.countMembersCommunitty{
  color: #777777;
  font-size: 12px;
  line-height: 16px;
}

.openCommunitty{
  margin-left: 80px;
}
