*{
  margin: 0;
  padding: 0;
}

.row-history{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
  /*background-color: red;*/
}


.row-history .col-sm-4{
  width: 100%;
  height: 100%;
  /*background-color:peru;*/
}

.row-history .col-sm-4 .historyCard{
  width: 100%;
  height: 100%;
  border-radius: 70px;
  background-color: purple;
}


