*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}



.navbar.d-flex.flex-column {
  position: fixed;
  width: 24%;
  height: 100vh;
  background-color: rgb(68, 190, 255);
  top: 0;
  left: 0;
  border-radius: 25px;
}

.navbar-wavy {
  position: relative;
  top: -8px;
  left: -21px;
  border-radius: 30px;
  height: 25vh;
  width: 109%;
  overflow: hidden;

}

.rowLista{
  position:absolute;
  top: 29%;
  width: 100%;
  min-height: 40%;
}

.rowLista ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rowLista ul li{
  list-style: none;
  text-decoration: none;
}

.rowLista ul li{
  margin: 13px;
  padding: 10px;
}

.rowLista ul li a{
  text-decoration: none;
}

.rowLista ul li span{
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff; /*Por el Momento las letras del Menu son Blancas*/
  transition: 0.5s all linear;
}


div.rowLista div.navbar-navigation ul li .active{
  background-color: rgba(255, 255, 255, 0.0);
}

/*-------------- Menu Home -----------------------------------*/
div.rowLista div.navbar-navigation ul li .active span.MenuHome{
  background-color: rgba(255, 255, 255, 0.0);
}

div.rowLista div.navbar-navigation ul li:hover .active span.MenuHome:hover{
  background-color: rgba(255, 255, 255, 0.0);
  color: yellow;
  font-size: 3em;
}
/*-------------- Menu Home -----------------------------------*/

/*-------------- Menu Profile -----------------------------------*/

div.rowLista div.navbar-navigation ul li .active span.MenuProfile{
  background-color: rgba(255, 255, 255, 0.0);
}

div.rowLista div.navbar-navigation ul li .active span.MenuProfile:hover{
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 3em;
  color: rgb(255, 145, 2);
}
/*-------------- Menu Profile -----------------------------------*/


/*-------------- Menu Chat -----------------------------------*/
div.rowLista div.navbar-navigation ul li .active span.MenuChat{
  background-color: rgba(255, 255, 255, 0.0);
}

div.rowLista div.navbar-navigation ul li .active span.MenuChat:hover{
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 3em;
  color: rgb(247, 0, 255);
}
/*-------------- Menu Chat -----------------------------------*/



/*-------------- Menu Community -----------------------------------*/
div.rowLista div.navbar-navigation ul li .active span.MenuCommunity{
  background-color: rgba(255, 255, 255, 0.0);
}

div.rowLista div.navbar-navigation ul li .active span.MenuCommunity:hover{
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 3em;
  color: rgb(255, 0, 0);
}
/*-------------- Menu Community -----------------------------------*/



/*-------------- SECCION DE USUARIO -----------------*/

.perfil{
  position: relative;
  left: -20px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(31, 126, 124, 0.5);
}

.col-4.perfil{
  background-color: rgba(31, 126, 124, 0.0);
}
.perfil .row .col-4.perfil{
  top: 20px;
}

.perfil div.col-4.perfil{
  height: 10%;
}

.perfil .row .col-4.perfil a{
  text-decoration: none;
}

.perfil .row .col-4.perfil p.perfil-name{
  font-size: 1.3em;
  color: #fff;
}

.perfil .row .col-4.logOut{
  top: 50px;
}

.perfil .row .col-4.logOut button.btn.btn-dark.perfil-btn{
  color: white;

}








